#!/usr/bin/make -f
#export DH_VERBOSE=1

include /usr/share/dpkg/default.mk

%:
	dh $@

override_dh_auto_install:
	make install \
		DESTDIR=$(CURDIR)/debian/merge-o-matic \
		VERSION="$(DEB_VERSION)" \
		$(NULL)

# don't run tests during build, they require ~/.oscrc :-(
override_dh_auto_test:
	:

override_dh_install:
	dh_install
	cp merge-o-matic.logrotate \
	   debian/merge-o-matic/etc/logrotate.d/merge-o-matic
	cp cron.d \
	   debian/merge-o-matic/etc/cron.d/merge-o-matic
	install -d debian/merge-o-matic/usr/share/doc/merge-o-matic/examples
	install -m644 momsettings.py \
		debian/merge-o-matic/usr/share/doc/merge-o-matic/examples/
